@{
    ViewData["Title"] = "Readme";
    ViewBag.PageHeader = "README.md";
    ViewBag.PageDescription = "项目简介";
}

<div class="row" id="content" style="margin-left: 20px; font-size: 16px;">
    
</div>
@section scripts
{
    <script src="https://cdn.bootcss.com/marked/0.3.18/marked.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $.get('@Url.Content("~/doc/README.md?r="+DateTime.Now.ToString("yyyyMMddHHmmssfff"))',
                function(data) {
                    $("#content").html(marked(data));
                });
        });
    </script>
}
