<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <!--按文件大小与个数建立日志文件-->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log4net\" />
      <appendToFile value="true" />
      <param name="StaticLogFileName" value="false" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy\\yyyy-MM\\yyyy-MM-dd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="*——*——*——*——*——*——Begin——*——*——*——*——*——*&#13;&#10;记录时间：%d%n线程ID：%t%n日志等级：%-5p%n日志类型：%c%n%m%n*——*——*——*——*——*——E n d——*——*——*——*——*——*&#13;&#10;" />
      </layout>
    </appender>
  </log4net>
</configuration>