<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="body-content">
<div class="wrapper">
    <div class="content-wrapper">
        <section class="container-fluid" style="padding-top: 15px;">
            @RenderBody()
        </section>
    </div>
</div>


<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/lib/layer/layer.js"></script>
<script src="~/js/knockout-3.4.2.js"></script>
<script src="~/js/knockout.mapping.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
